@keyframes start-with-inner-shadow {
  from {
    @include inner-shadow(1px, 1px, 1px, 1px, rgba(#aaa, 0.3));
  }

  to {
    box-shadow: none;
  }
}

@keyframes grow-out {
  to {
    font-size: 6em;
    opacity: 0;
  }
}
