#help{
  height: 7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  opacity: 0.8;
  .option-help{
    width: 5em;
    flex: 0 0 auto;
    margin: 0em 0.3em 0em 0.3em;
    text-align: center;
    span{
      display: block;
      margin: 0 auto;
    }
  }
  .option-letter{
    background-color: #ddd;
    width: 3em;
    border-radius: 1px;
  }
  .option-name{}
}
