@mixin bg-hover($bg, $bg-hover){
  background-color: $bg;
  &:hover{
    background-color: $bg-hover;
  }
}

@mixin inner-shadow($x:1px, $y:1px, $blur:4px, $spread:1px, $color:rgba(#555, 0.3)){
  // offset-x | offset-y | blur-radius | spread-radius | color
  box-shadow: (-$x) $y $blur $spread $color inset,
              $x (-$y) $blur $spread $color inset;
}
