h2, .settings, .never, .custom{
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.2em;
}

.option, .settings, .never, .custom{
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 1px;
  text-align: center;
}

.never, .settings, .custom{
  font-weight: bold;
  color: white;
}

.never, .custom{
  // Larger to give the room to the French 'Personnalisé' translation
  // and anticipating for the future German translation ;)
  width: 8em;
  margin: 1em auto;
  &.selected{
    @include inner-shadow;
  }
}

.custom{
  @include bg-hover($light-blue, darken($light-blue, 10%));
  &.selected{
    background-color: darken($light-blue, 10%);
  }
}

.never{
  @include bg-hover(#e88, #c55);
  &.selected{
    background-color: #c55;
  }
}

.settings{
  @include bg-hover(#777, #333);
}

.category{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  .category-header{
    font-size: 1.1em;
    text-align: center;
  }
  ul{
    margin: 0 auto;
    width: 17em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li.option{
    font-size: 1em;
    padding: 0.2em 0 0.2em 0;
    width: 2.5em;
    margin: 0.2em 0 0.2em 0;
    &.selected, &:hover{
      // overriding inline background colors
      background-color: rgba($light-blue, 0.8) !important;
      // Start with an inner shadow so that we briefly see which option is selected
      // when keeping an arrow key pressed: only useful for playing purpose.
      // So, very useful.
      animation-name: start-with-inner-shadow;
      animation-duration: 0.2s;
    }
  }
}