#typingView{
  // start hidden
  display: none;
  .column{
    width: 15em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#typing{
  margin: auto;
  font-size: 3em;
  text-align: center;
  &.success{
    font-weight: bold;
    color: $success-color;
    animation-name: grow-out;
    animation-duration: 0.5s;
  }
}

#help{
  height: 2em;
}