html {
  font-family: sans-serif;
  background: #f0f0f0;
  min-width: 100px;
  margin: 0;
}

body {
  background: #f0f0f0;
  margin: 0 auto;
  padding: 2px;
  height: inherit;
  text-align: center;
  white-space: nowrap;
}

@mixin bg-hover($bg, $bg-hover){
  background-color: $bg;
  &:hover{
    background-color: $bg-hover;
  }
}

.browse-every, .option, .settings, .remove{
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.2em;
}

.option, .settings, .remove{
  cursor: pointer;
  padding: 0.5em 1em 0.5em 1em;
  transition: background-color 2s;
}

.browse-every{
  font-weight: bold;
}

.option{
  @include bg-hover(#ccc, #8f8)
}

.remove, .settings{
  font-weight: bold;
  color: white;
}

.remove{
  @include bg-hover(#d88, #d44)
}

.settings{
  @include bg-hover(#777, #333)
}