@import './style_reset';
@import './mixins';

html {
  font-family: sans-serif;
  background: #f0f0f0;
  min-width: 100px;
  margin: 0;
}

body {
  background: #f0f0f0;
  margin: 0 auto;
  padding: 2px;
  height: inherit;
  text-align: center;
  white-space: nowrap;
}

h2, .settings, .remove{
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.2em;
}

.option, .settings, .remove{
  cursor: pointer;
  transition: background-color 2s;
  border-radius: 1px;
}

h2{
  font-weight: bold;
  font-size: 1.2em;
}

.remove, .settings{
  font-weight: bold;
  color: white;
}

.remove{
  @include bg-hover(#d88, #d44)
}

.settings{
  @include bg-hover(#777, #333)
}

.category{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  .header{
    font-weight: bold;
    font-size: 1.2em;
  }
  ul{
    margin: 0 auto;
    width: 17em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li.option{
    font-size: 1em;
    padding: 0.2em 0 0.2em 0;
    width: 2.5em;
    margin: 0.2em 0 0.2em 0;
    &.selected, &:hover{
      // overriding inline background colors
      background-color: #8f8 !important;
    }
  }
}

#footer{
  margin-top: 1.8em;
}